<!DOCTYPE html>
<html>
<head>
  <title>ColaApp</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= form_tag "search" do %> 
	<%= label_tag :請選擇你想要考慮的因素 %><br> 
	<%= link_to "<15,man", table_path %>
	<%= link_to "15~25,man", table2_path %>
    <%= link_to "25~35,man", table3_path %>
    <%= link_to "35~45,man", table4_path %>
    <%= link_to "45~55,man", table5_path %>
    <%= link_to "55~65,man", table6_path %>
    <%= link_to "65<,man", table7_path %><br>
    <%= link_to "<15,woman", table8_path %>
    <%= link_to "15~25,woman", table9_path %>
    <%= link_to "25~35,woman", table10_path %>
    <%= link_to "35~45,woman", table11_path %>
    <%= link_to "45~55,woman", table12_path %>
    <%= link_to "55~65,woman", table13_path %>
    <%= link_to "65<,woman", table14_path %>

<% end -%>

<%= yield %>

</body>
</html>
